<% layout('layouts/boilerplate') -%>
<body>
  <style>
    #filters {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .filters {
      text-align: center;
      margin-right: 2rem;
      margin-top: 1.5rem;
      opacity: 0.7;
    }
    .filters:hover {
      opacity: 1;
      cursor: pointer;
    }
    .filters p {
      font-size: 0.8rem;
    }
    .tax-info {
      display: none;
    }
    .tax-toggle {
      border: 1px solid;
      border-radius: 1rem;
      height: 2.5rem;
      padding: 1rem;
      display: flex;
      align-items: center;
    }
  </style>
  <div id="filters">
    <div class="filters">
      <div>
        <i class="fa-solid fa-fire"></i>
      </div>
      <p>Trending</p>
    </div>
    <div class="filters">
      <a href="/listings/rooms" class="nav-link"
        ><div class="rooms">
          <i class="fa-solid fa-bed"></i>
          <p>Rooms</p>
        </div></a
      >
    </div>
    <div class="filters">
      <div>
        <i class="fa-solid fa-mountain-city"></i>
      </div>
      <p>Iconic Cities</p>
    </div>
    <div class="filters">
      <div>
        <i class="fa-solid fa-mountain"></i>
      </div>
      <p>Mountains</p>
    </div>
    <div class="filters">
      <div>
        <i class="fa-solid fa-fort-awesome"></i>
      </div>
      <p>Castles</p>
    </div>
    <div class="filters">
      <div>
        <i class="fa-solid fa-person-swimming"></i>
      </div>
      <p>Amazing Pools</p>
    </div>
    <div class="filters">
      <div>
        <i class="fa-solid fa-cow"></i>
      </div>
      <p>Farms</p>
    </div>
    <div class="filters">
      <div>
        <i class="fa-solid fa-snowflake"></i>
      </div>
      <p>Arctic</p>
    </div>
    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Display with Taxes</label
        >
      </div>
    </div>
  </div>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <%for(let listing of alllistings) { %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
      <div class="card col listing-card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          style="height: 20rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b><br />
            &#8377;<%= listing.price.toLocaleString()%> / night
            <i class="tax-info"> &nbsp;&nbsp;&nbsp;+18% GST</i>
          </p>
          <br />
        </div></div
    ></a>
    <%} %>
  </div>
</body>

<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", () => {
    let taxinfo = document.getElementsByClassName("tax-info");
    for (info of taxinfo) {
      if (info.style.display != "inline") {
        info.style.display = "inline";
      } else {
        info.style.display = "none";
      }
    }
  });
</script>
